/**
* Styling rules for index.html
****/

/**group picture is not well pixilated, needs another good quality
    picture**/
.firstPage {
    background-image: url("../img/groupblur.jpeg");
    background-size: cover;
    width:100%;
    height: 100%;
}

.background {
    background: rgb(97,99,97);
    background-size: cover;
    opacity:.6;
    height:inherit;
}

.menu {
    position:fixed;
    margin: 0 auto;
    font-family:Varela Round;
    font-size: 3.5em;
    float:left;
    padding-top: 40px;
    padding-left: 30%;
    width:100%;
    height:5%;
    background-size:cover;
    background-color:transparent;
}

.menu-navbar {
    font-family:Lato;
    position:fixed;
    margin:0 auto;
    float:left;
    padding-top: 40px;
    padding-left: 30%;
    font-size: 4.5em;
    width: 100%;
    background-color: #3e8f64;
    background-size: cover;
    height: 7%;
    color: black;
    border-color: #3e8f64; /*Temporary for now*/
    border: 1px solid #3e8f64;
    display: block;
    box-sizing: border-box;
    z-index: 1;
}




.column {
    float:left;
    padding-left:400px;
}

a {
    text-decoration:none;
    color:black;
}

/**not working for some reason**/s
a:hover {
    background:darksalmon;
    cursor:pointer;
}

.message {
    font-size: 4.5em;
    font-family: Varela Round;
    position:relative;
    top:-80%;
    padding-left: 400px;
    margin-right: auto;
    position: relative;
    padding-top: 80px;
}

/**End second page***/

/**Second section*/
.about {
    background-color: rgb(62,105,143);
    color:black;
    font-family:Lato;
    font-size: 4em;
    width:100%;
    height:50%
}

.mission-statement {
    padding-top: 6%;
    margin: 0 auto;
    position:relative;
    padding-left: 700px;
}

.mission{
    padding-left: 200px;
    padding-top: 50px;
    font-size: 1.15em;
}

/*snap-shot of the officers in charge, two pictures*/
.team {

}


/*footer*/
footer{
    background-color: rgb(163,157,152);
    width:100%;
    height:10%;

}

.rred {
    color:red;
}


#contact, #made {
    padding-left:45%;
    font-size:1.5em;
    position:relative;
    padding-top:30px;
}

#contact {
    top:30px;
    padding-left:47%;
}

#current-projects {
    background-color: rgb(129,133,112);
    background-size:cover;
    width:100%;
    height: 35%;
    font-family:Lato;
    font-size:5.0em;
}

#proj1{
    text-align:center;
    padding-top:20px;
}

/**Short description of Allison and the other girl's biography**/
.team{
    background-color:whitesmoke;
    background-size: cover;
    width:100%;
    height:25%;
    font-size:3.5em;
    font-family:Lato;
}
/**The size of allison and sveltana's picture is messed up**/
.item .allison{

}
